version: "3.8"

services:
  app:
    build: .
    container_name: gestion_app
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: gestion_db
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    command: streamlit run accueil.py --server.port=8501 --server.headless=true

  db:
    image: mysql:latest
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestion_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
